.main-container {
  display: flex;
  align-items: center;
}

.message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
}

.score-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
}