.card-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 60vw;
    margin: 0 auto;
    margin-bottom: 1rem;
    min-height: 600px;
}