.click-card {
    height: 210px;
    width: 140px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.click-card-frame {
    padding: 0.5rem;
    margin: 0.75rem;
    box-shadow: 5px 5px 5px rgb(179, 175, 175);
    background-color: black;
}

.click-card:hover {
    transform: scale(1.05);
}